img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond, times new roman;
}

body {
    background-color : #8D9193;
} 

#year {
    text-align: center;
    color : #E7E7E7;
    font-family: optima, palatino, georgia;
}

#ready, #lwymmd, #delicate, #idwlf {
    text-align: center;
    font-family: garamond, times new roman;
}

