img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
}

body {
    background-color : #8D9193;
} 

#year {
    text-align: center;
    color : #E7E7E7
}

#ready, #lwymmd, #delicate, #idwlf {
    text-align: center;
}

