#debut { 
    color : #77C38B; 
}
#fearless { 
    color : #CEB43F; 
}
#speaknow { 
    color : #A970D0; 
}
#red { 
    color : #B41B1B; 
}
#nine { 
    color : #73C1EC; 
}
#rep { 
    color : #000000; 
}
#lover { 
    color : #be76b8; 
}
#folklore { 
    color : #a2a3a3; 
}
#evermore { 
    color : #C3763A; 
}
