#debut { 
    color : #77C38B; 
}
#fearless { 
    color : #CEB43F; 
}
#speak now { 
    color : #A970D0; 
}
#red { 
    color : #B41B1B; 
}
#nine { 
    color : #ABCFEC; 
}
#rep { 
    color : #000000; 
}
#lover { 
    color : #F4D1F1; 
}
#folklore { 
    color : #D4D6D6; 
}
#evermore { 
    color : #C3763A; 
}
