img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: copperlate;
}
h2 {
    font-size: 1.5em;
}

#debut { 
    color : #77C38B; 
}
#fearless { 
    color : #CEB43F; 
}
#speaknow { 
    color : #A970D0; 
}
#red { 
    color : #B41B1B; 
}
#nine { 
    color : #73C1EC; 
}
#rep { 
    color : #000000; 
}
#lover { 
    color : #be76b8; 
}
#folklore { 
    color : #a2a3a3; 
}
#evermore { 
    color : #C3763A; 
}

.debut { 
    background-color : #77C38B; 
}
.fearless { 
    background-color : #CEB43F; 
}
.speaknow { 
    background-color : #A970D0; 
}
.red { 
    background-color : #B41B1B; 
}
.nine { 
    background-color : #73C1EC; 
}
.rep { 
    background-color : #000000; 
}
.lover { 
    background-color : #be76b8; 
}
.folklore { 
    background-color : #a2a3a3; 
}
.evermore { 
    background-color : #C3763A; 
}
.suggested { 
    background-color : #6E8EF2;
}

.sommaire_title {
    text-align: center;
    text-decoration: underline;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.space-evenly { 
    justify-content: space-evenly; 
}

.flex-item {
    padding: 5px;
    width: auto;
    height: auto;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.30em;
    text-align: center;
    border: #000000 solid;
    text-decoration: none;
  }

.flex-item a{
    color: white; 
    text-decoration: none;
}

.flex-container a:hover{
    background: #A3A8FC;
    color: white; 
    text-decoration: none;
}
