img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
    font-size: 3em;
}


 p {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 1em;
}

h3 {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 1.5em;
}

body {
    background-color : #F4F6F6;
}

#year {
    text-align: center;
    color: #a2a3a3;
    font-family: optima, palatino, georgia;
    font-size: 2em;
}

#cardigan, #betty, #exile, #lakes {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 2em;
}
