img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}


background {
    color : #C9CAC9;
}

#year {
    text-align: center;
    color: #a2a3a3
}

#cardigan {
    text-align: center;
}

#betty {
    text-align: center;
}

#exile {
    text-align: center;
}

#lakes {
    text-align: center;
}

p {
    text-align: center;
}
