img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}


 p, h3 {
    text-align: center;
    font-family: garamond, times new roman;
}

body {
    background-color : #F4F6F6;
}

#year {
    text-align: center;
    color: #a2a3a3;
    font-family: optima, palatino, georgia;
}

#cardigan, #betty, #exile, #lakes {
    text-align: center;
    font-family: garamond, times new roman;
}
