img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}
#oursong {
    text-align: center;
}
#teardrops {
    text-align: center;
}
#picture {
    text-align: center;
}
background {
    color: #B9EBCD;
}

p {
    text-align: center;
}
