img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond;
}

body {
    background-color : #E0EDE5
}

#year {
    text-align: center;
    color : #41995D
}

#oursong, #teardrops, #picture, #should {
    text-align: center;
}

