img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
}

body {
    background-color : #E0EDE5
}

#year {
    text-align: center;
    color : #41995D
}

#oursong, #teardrops, #picture, #should {
    text-align: center;
}

