img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond;
}

body {
background-color : #FBF0DE;
}

#year {
    text-align: center;
    color: #C3763A;
    ont-family: optima, palatino, georgia;
}

#willow, #champagne, #coney, #evermore {
    text-align: center;
    font-family: garamond;
}
