img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

body {
background-color : #FBF0DE
}

#year {
    text-align: center;
    color: #C3763A
}

#willow {
    text-align: center;
}

#champagne {
    text-align: center;
}

#coney {
    text-align: center;
}

#evermore {
    text-align: center;
}

p {
    text-align: center;
}
