img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

#year {
    text-align: center;
    color : #952DBF
}

#mine {
    text-align: center;
}

#mean {
    text-align: center;
}

#story {
    text-align: center;
}

#december {
    text-align: center;
}

#ours {
    text-align: center;
}

p {
    text-align: center;
}
