img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
}

body {
    background-color: #F6ECFF;
}

#year {
    text-align: center;
    color : #952DBF
}

#mine, #mean, #story, #december, #ours {
    text-align: center;
}
