img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond, times new roman;
}

body {
    background-color : #FFECFB;
}   

#year {
    text-align: center;
    color: #be76b8
}

#lover, #yntcd, #man, #me, #cornelia {
    text-align: center;
    font-family: garamond, times new roman;
}

