img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

#year {
    text-align: center;
    color: #be76b8
}

#lover {
    text-align: center;
}

#yntcd {
    text-align: center;
}

#man {
    text-align: center;
}

#me {
    text-align: center;
}

#cornelia {
    text-align: center;
}

p {
    text-align: center;
}
