img {
    width: 100%;
      height: auto;
}
h1,p {
    text-align: center;
}

body {
    background-color: #FFF0EC;
} 

#year {
    text-align: center;
    color: #B41B1B
}

#wangbt, #ikywt, #begin, #everything, #ibytam, #atw {
    text-align: center;
}

