img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond;
}

body {
    background-color: #FFF0EC;
} 

#year {
    text-align: center;
    color: #B41B1B
}

#wangbt, #ikywt, #begin, #everything, #ibytam, #atw {
    text-align: center;
    font-family: garamond;
}

