img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

#year {
    text-align: center;
    color: #B41B1B
}

#wangbt {
    text-align: center;
}

#ikywt {
    text-align: center;
}

#begin {
    text-align: center;
}

#everything {
    text-align: center;
}

#ibytam {
    text-align: center;
}

#atw {
    text-align: center;
}
background {
    color: #ECDFB8
}

p {
    text-align: center;
}
