img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
    font-size: 3em;
}

p {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 1em;
}

body {
background-color : #EFE4D2;
}

#year {
    text-align: center;
    color: #B6B09F;
    ont-family: optima, palatino, georgia;
    font-size: 2em;
}

#antihero, #bejeweled {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 2em;
}
