img {
    width: 100%;
      height: auto;
}
h1, h4, p {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    color:#0228FF;
}

iframe 
{
    display: block;
    margin: 0 auto;
}
