img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}   


iframe 
{
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
}  

#cold {
    color : #77C38B;
}   

#white {
    color : #CEB43F;
}   

#dear {
    color : #A970D0;
}   

#atw {
    color : #B41B1B;
} 

#ayhtdws {
    color : #73C1EC;
}   

#delicate {
    color : #000000;
}   

#archer {
    color : #be76b8;
}

#mtr {
    color : #a2a3a3;
}

#tolerate {
    color : #C3763A;
}
