#banner {
    width: 100%;
    height: auto;
}
img {
    width: 75%;
    height: 150;
}

body {
    background: #B6C0FE;
}

h1, h4 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

p {
    text-align: center;
    font-family: garamond;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: optima, palatino, georgia;
}

h3 {
    text-align: center;
    font-family: optima, palatino, georgia;
    color : #1541E5;
}

iframe 
{
    display: block;
    margin: 0 auto;
}
