img {
    width: 100%;
      height: auto;
}
body {
   background: #CFEAF2
}

h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
}

h3 {
    text-align: center;
    color: #15BCE5;
    font-family: optima, palatino, georgia;
}

p {
    font-family: garamond
}
