img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
    font-family: optima, palatino, georgia;
 }

p {
    text-align: center;
    font-family: garamond;
 }

#year {
    text-align: center;
    color: #CEB43F;
    font-family: optima, palatino, georgia;
}   
   
body {
    background-color: #F9F4E2
}   

#ybwm, #lovestory, #whitehorse, #chapters {
    text-align: center;
    font-family: garamond;
}


