img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
 }

#year {
    text-align: center;
    color: #CEB43F
}   
   
body {
    background-color: #F9F4E2
}   

#ybwm, #lovestory, #whitehorse, #chapters {
    text-align: center;
}


