img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}
#ybwm {
    text-align: center;
}

#lovestory {
    text-align: center;
}
background {
    color: #ECDFB8
}

p {
    text-align: center;
}

