img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
}

body {
background-color : #E3F2FF
} 

#year {
    text-align: center;
    color :#73C1EC;
}

#wildest, #bad, #shake, #out, #style {
    text-align: center;
}

