img {
    width: 100%;
      height: auto;
}
h1 {
    text-align: center;
}

background-color : #C8DAF2;

#year {
    text-align: center;
    color :#73C1EC;
}

#wildest {
    text-align: center;
}

#bad {
    text-align: center;
}

#shake {
    text-align: center;
}

#out {
    text-align: center;
}

#blank {
    text-align: center;
}
#style {
    text-align: center;
}

p {
    text-align: center;
}
