img {
    width: 100%;
      height: auto;
}
h1, p {
    text-align: center;
}

body {
background-color : #E3F2FF
} 

#year {
    text-align: center;
    color :#73C1EC;
}

#wildest {
    text-align: center;
}

#bad {
    text-align: center;
}

#shake {
    text-align: center;
}

#out {
    text-align: center;
}

#blank {
    text-align: center;
}
#style {
    text-align: center;
}

p {
    text-align: center;
}
